@charset "UTF-8";

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

h1 {
	text-align: center;
	padding: 2rem;
}

.deco {
	display: flexbox;
	justify-content: flex-end;
}

.bi-x-square-fill {
	color: red;
}

.bi-pen-fill {
	color: green;
}

tr:hover {
	background-color: lime;
}

button {
	border: none;
	background-color: transparent;
}

.container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-top: 4rem;
	width: 70%
}

span {
	color: white;
}

.th {
	background-color: violet;
}

.card {
	box-shadow: 5px;
	width: 95%;
	padding: 2rem;
}

.log{
	display: flex;
	justify-content: flex-end;
}